#bug_link { 
  font-size: 80%;
  padding-top: 10px; 
}

#defect_info { 
  color: black;
  font-size: 80%;
  padding-top: 10px; 
  padding-bottom: 10px;
}

a:hover {
    text-decoration : underline
}

#background_box {
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
}

